.strength-meter{
    width: 100%;
}

.strength-meter .strength-bar{
    width: 20px;
    height: 5px;
    background-color: #ddd;
    margin-right: 5px;
    display: inline-block;
}

.strength-meter .strength-bar.red{
    background-color: red;
}
.strength-meter .strength-bar.orange{
    background-color: orange;
}
.strength-meter .strength-bar.green{
    background-color: green;
}